@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --main-color: #38b000;
    --main-color-dark: #309700;
    --main-color-light: #E9FFDF;
    --white: #fafafa;
    --border: .1rem solid rgba(0,0,0,10%);
    --border-dark: .1rem solid rgba(0,0,0,15%);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,10%);
    --radius: .5rem;
    --bg: #fff;
    --bg-dark: #f7f7f7;
    --bg-vac: #eee;
    --bg-mid: #ddd;
    --bg-new: #eee;
    --bg-form: #fff;
    --text: #000;
    --text-r: #fff;
    --main: #38b000;
    --text-dark: #555;
    --light: #fafafa;
    --border-color:#38b000;
    --selected: rgba(159, 213, 141, 0.8);
    --card-hover: rgba(255, 255, 255, 0.8);
}

.dark-mode {
    --bg: #555;
    --bg-mid: #4f4f4f;
    --bg-dark: #444;
    --bg-vac: #444;
    --bg-new: #333;
    --bg-form: #666;
    --text: #fff;
    --text-r: #000;
    --white: #343434;
    --main: #309700;
    --text-dark: #dedede;
    --border: .1rem solid rgba(0,0,0,15%);
    --border-dark: .1rem solid rgba(0,0,0,40%);
    --border-color: .1rem solid #444;
    --selected: rgba(60, 114, 42, 0.8);
    --card-hover: rgba(88, 88, 88, 0.8);
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .3s ease-out, color 0s;
}

html, body{
    height: 100%;
    color: var(--text);
}

body{
    display: flex;
    flex-direction: column;
    background: var(--bg);
}

main {
    flex-grow: 1;
    background: var(--bg-vac);
}

a{
    color: #000;
}

*::selection{
    background: var(--main);
    color: #fafafa;
}

.default-borders{
    border: var(--border);
    border-radius: var(--radius);
}

.default-input, select{
    padding: .5rem;
    margin: .4rem 0;
    font-size: 1rem;
    width: 18rem;
    border-radius: var(--radius);
    border: var(--border);
    color: var(--text);
    background: var(--bg-form);
}

input::placeholder {
    color: var(--text-dark);
}

textarea::placeholder {
    color: var(--text-dark);
}

select option[value=""]{
    display: none;
}

.default-button{
    background: var(--main-color);
    border-radius: var(--radius);
    color: var(--light);
    padding: .6rem .9rem;
    font-size: 1rem;
    border: 1px solid var(--main-color);
}

.default-button:hover{
    background: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
    cursor: pointer;
}

.default-button.invert{
    background: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.default-button.invert:hover{
    background: var(--main-color);
    color: var(--white);
    border: 1px solid var(--main-color);
}

.styled-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f0f0;
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.styled-checkbox input[type="checkbox"]:checked {
    background-color: var(--main-color);
    border-color: var(--main-color-dark);
}

section{
    padding: 5.6rem 9% 2rem 9% !important;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    z-index: 3;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

#navbar{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
}

header a, #nav-content a{
    font-size: 1.2rem;
    color: var(--text);
}

header a{
    line-height: 40px;
}

header a:hover, #nav-content a:hover{
    color: var(--main-color);
}

#main .toggle-btn{
    display: none;
}

.hidden{
    display: none;
}

/* -----------SAKUMLAPA------------------------------------------------------------------- */

/* headeris */

#header{
    margin: 15rem 0 5rem 0;
    display: flex;
    justify-content: space-between;
}

#headerSimple{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

#modes{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: .5rem;
    color: var(--main-color);
    font-size: 1.5rem;
}

#modes:hover{
    color: var(--text);
    font-size: 1.55rem;
}

#navbar.expanded #modes{
    margin: 0;
    padding: 1rem;
}

.left, .right{
    width: 50%;
}

.left{
    margin-right: 2rem;
}

.right{
    margin-left: 2rem;
}

h1{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: var(--text);
}

h1 span, #admin-section span, span{
    color: var(--main-color);
    font-weight: bolder;
}

.search{
    padding: 2rem 0;
}

h2{
    text-align: center;
    font-size: 2.2rem;
}

#header #search-container{
    display: flex;
    flex-direction: row;
    padding-top: 1.2rem;
}

#header #search-form{
    display: flex;
    justify-content: space-between;
    background: var(--bg-dark);
    padding: .8rem;
}

#header #search-btn{
    padding: .5rem 1.2rem;
    margin: 0;
    border: solid 1px var(--main-color);
}


#header #search-btn:hover{
    background-color: var(--main-color-dark);
    color: var(--white);
}

.select{
    width: 40%;
    margin-bottom: 0;
}

#search-form select[name="vieta"]{
    padding: .6rem;
    margin: 0;
    width: 100%;
    background: var(--bg-form);
}

option:hover:before{
    background: var(--main-color);
}

select[name="vieta"]:hover{
    cursor: pointer;
}

#search-form input[name="atslegvardsIndex"]{
    border: 1px solid var(--main-color);
    margin: 0;
    width: 40%;
    background: var(--bg-form);
}

#search-form input[name="atslegvardsIndex"]:focus{
    background: var(--white);
}

.img-work-container{
    display: flex;
    align-items: end;
}

.img-work{
    width: 100%;
    height: auto;
}

.info-text{
    margin-top: 2rem;
}

@media (max-width: 1400px){
    #search-form{
        flex-direction: column;
    }

    #header input[name="atslegvardsIndex"], #search-form select[name="vieta"]{
        width: 100%;
        margin-bottom: 1rem;
    }

    .select{
        width: 100%;
    }

    #header #search-btn{
        padding: .5rem 2rem;
    }
}

@media (max-width: 900px){
    .right{
        display: none;
    }

    .left{
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    #search-form{
        flex-direction: row;
        align-items: center;
    }

    #search-form input[name="atslegvardsIndex"], .select{
        width: 40%;
        margin-bottom: 0;
    }

    #search-form select[name="vieta"]{
        width: 100%;
        margin-bottom: 0;
    }

    #header #search-btn{
        padding: .5rem 1.2rem;
    }
}

/* statistika */

#statistics{
    background-color: var(--main-color);
    color: var(--light);
    padding: 4rem 0 !important;
}

.stats{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4rem 0 2rem 0;
}

.stat{
    margin: 0 4rem;
    text-align: center;
}

.stat .num{
    padding: .4rem 0;
    font-size: 2rem;
}

@media (max-width: 700px){
    .stat{
        margin: 0 1rem;
    }
}

/* pakalpojumi */

#services {
    margin: 5rem 0;
}

#services h2, #news h2 {
    color: var(--main-color);
}

#services h2{
    margin-bottom: 3rem;
}

.circles-all {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circles {
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 2;
}

.circle {
    padding: 5rem;
    background: var(--main-color);
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.circle:hover {
    cursor: pointer;
    background: var(--main-color-dark);
}

.circle h3 {
    color: #fff;
    font-size: 1.7rem;
}

.circles-back {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.circle-back {
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px dashed var(--main-color);
    position: absolute;
}

.circle-back:nth-child(1) {
    position: absolute;
    left: 25%;
}

.circle-back:nth-child(2) {
    position: absolute;
    right: 25%;
}


@media (max-width: 1000px){
    .circle-back{
        display: none;
    }

    .circle{
        width: 14rem;
        height: 14rem;
    }
}

@media (max-width: 700px){
    .circles{
        flex-direction: column;
        align-items: center;
    }

    .circle{
        margin-bottom: 2rem;
        width: 17rem;
        height: 17rem;
    }

    .circle h3 {
        font-size: 2rem;
    }
}

/* par mums */

#about{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* kontakti */

form, .map{
    padding: 1rem;
    border: var(--border);
    border-radius: var(--radius);
    background: var(--bg-dark);
    width: 100%;
}

.map{
    height: 570px;
}

@media (max-width: 1135px){
    .map{
        height: 450px;
    }
}

form .box{
    margin-bottom: .7rem;
    padding: .7rem;
    font-size: 1.2rem;
    color: var(--black);
    border: var(--border);
    border-radius: var(--radius);
    background: var(--bg-form);
    width: 100%;
}

form .box:focus{
    background: var(--white);
}

form textarea{
    height: 15rem;
    resize: none;
}

.btn{
    margin-top: .7rem;
    display: inline-block;
    padding: .8rem 2.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--light);
    background: var(--main-color);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: .1rem solid var(--main-color-dark);
    position: relative;
    z-index: 1;
}

.btn:hover{
    background: var(--main-color-dark);
}

/* footeris */

footer{
    background: var(--bg-mid);
    text-align: center;
    padding: 2rem 9% 0 9%;
}

footer .wrapper{
    justify-content: space-between;
}

footer .wrapper-content{
    display: flex;
    gap: 10px;
}

footer .wrapper:last-child{
    border-top: solid 1px #ccc;
    font-size: .7rem;
    justify-content: center;
    margin: 0;
}

footer .wrapper:last-child p{
    margin: 1rem;
    color: #999;
}

footer .wrapper-column{
    flex: 1;
}

footer .wrapper-column h3{
    margin-bottom: 1.3rem;
}

footer .wrapper-column p{
    color: var(--text-dark);
    text-align: justify;
}

footer #about-us{
    max-width: 19rem;
    line-height: 1.5rem;
}

footer h2{
    margin-bottom: 2rem;
}

.info{
    display: flex;
    padding: .7rem 4rem;
    color: #555;
    text-align: center;
}

.info i{
    margin-right: 1rem;
    font-size: 1.3rem;
    color: var(--text-dark);
}

/* -----------JAUNUMI------------------------------------------------------------------- */

#latestNews{
    background: var(--bg-dark);
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1.5rem 9% !important;
}

#latestNews img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

#latestNews .news-image-container{
    width: 35rem;
    min-width: 35rem;
    height: 30rem;
}

#latestNews .latestContent{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#latestNews .title, #news .title{
    text-transform: uppercase;
    color: var(--main-color);
    padding: 0 0 1rem 0;
    font-size: 1.8rem;
    word-wrap: break-word;
}

#latestNews .wrapper{
    flex: 3;
    display: none;
}

#latestNews .wrapper.active-news{
    display: flex;
    background: var(--bg-dark);
}

#latestNews .wrapper-column{
    flex: 1;
}

#latestNews ul{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#latestNews li{
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.2rem;
    background: var(--bg-new);
    border-radius: var(--radius);
    padding: 1.8rem 1rem;
    margin: .5rem 0;
    flex-wrap: wrap;
}

#latestNews li:hover{
    cursor: pointer;
    transform: translateX(2px) translateY(2px);
}

#latestNews li.selected{
    background: var(--selected);
}

#latestNews li .date{
    font-size: 1rem;
    color: var(--text-dark);
}

#news{
    padding: 0 9% 2rem 9% !important;
}


#news h2{
    color: var(--main-color);
    margin: 2rem 0;
}

#latestNews .latestContent .text{
    text-overflow: ellipsis;
    overflow: hidden;
    display:
    -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8rem;
}

.read-more{
    color: var(--main-color);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: .13rem solid var(--main-color);
    border-radius: var(--radius);
    font-weight: 700;
    width: 11.4rem;
    margin-top: auto;
}

.read-more:hover{
    background: var(--main-color);
    color: var(--white);
    border: .13rem solid var(--main-color);
}

#allBtn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 9% 3.2rem 9% !important;
}

.view-all{
    width: 19.2rem;
}

.news h1{
    text-align: center;
    margin: 3rem 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 7rem;
}

.navigation i{
    padding: 0 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.navigation i:hover{
    cursor: pointer;
}

.sorting button, .sorting form{
    background: none;
    border: none;
}

.sorting i {
    color: var(--text-dark) !important;
}

.sorting .active i {
    color: var(--main-color) !important;
}

.active{
    background: var(--main-color);
    border-radius: var(--radius);
}

.active i{
    color: #fff;
}

.all-cards{
    grid-gap: 2rem;
}

#news-heading{
    padding: 0;
}
/* kartinas */

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 2rem;
}

.card-a, .all-card{
    padding: 1rem;
    background: var(--bg-new);
    border: var(--border-color);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
    overflow: hidden;
    padding: 1rem;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

.card-image-container{
    width: 100%;
    height: 25rem;
}

.card .title{
    text-align: center;
    margin-top: 2rem;
}

.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    opacity: 0;
    overflow: hidden;
}

.card:hover{
    cursor: pointer;
}

.card:hover .content{
    top:0;
    opacity: 1;
}

.card::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: var(--card-hover);
    border-radius: var(--radius);
    clip-path: circle(0% at 50% 0);
    transition: trans .3s linear;
}

.card:hover::before{
    clip-path: circle(100%);
}

.content hr{
    border: .1rem solid var(--main-color);
    width: 20rem;
    margin-bottom: .5rem;
    text-align: center;
}

.content{
    padding: 2rem;
}

.content .text{
    max-width: 27rem;
    line-height: 1.5;
    color: var(--text);
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
}

@media (max-width: 1400px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .content hr{
        width: 15rem;
    }

    .cards {
        grid-row-gap: 2rem;
    }
}

@media (max-width: 700px){
    .card {
        height: auto;
    }

    .card .content {
        position: static;
        opacity: 1;
        overflow: visible;
        height: auto;
        display: block;
        padding: 1rem;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2rem;
    }

    .content .text {
        -webkit-line-clamp: 4;
    }

    .card::before {
        clip-path: none;
        background: none;
    }

    .card .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content .text {
        margin-top: .5rem;
    }

    .content .title, .content hr{
        display: none;
    }
}

/*  */

.pagination{
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.pagination button{
    background: none;
}

.pagination button:hover{
    cursor: pointer;
    color: var(--main-color-dark);
}

.pagination i{
    font-size: 1.2rem;
    color: var(--main-color);
    padding: 0 .3rem;
}
/* 
.pagination{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.pagination a{
    padding: 1rem;
    color: var(--black);
    font-size: 1.2rem;
}

.sobrideja_lapa{
    font-weight: bold;
}

.pagination-arrow.hidden {
    visibility: hidden;
}

/* -----------JAUNUMS (1)------------------------------------------------------------------- */

#headerNew{
    color: var(--main-color);
    text-align: center;
}

#new h1{
    font-size: 2.5rem;
    color: var(--main-color);
}

#new{
    padding: 2rem 15% !important;
}

#new{
    line-height: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-image{
    width: 100%;
    height: 40rem;
    object-fit: cover;
    transition: height 0.3s ease;
}

.banner-image.shrink{
    height: 20rem;
}

hr{
    border: .2rem solid var(--main-color);
    width: 70%;
    margin: 1.5rem auto;
}

#footerNew{
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 0 15% !important;
}

#headerNew .navigation{
    margin: 0;
}

#new .image-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.allText{
    text-align: justify;
    white-space: pre-wrap;
}

@media (max-width: 800px){
    #new img{
        max-height: 30rem;
    }
}

/* -----------VAKANCES------------------------------------------------------------------- */
/* Searchbar */
#searchbar-container{
    position: fixed;
    top: 8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    height: 100%;
    width: 20rem;
    transform: translateX(-20rem);
    z-index: 2;
    box-shadow:  0 .5rem 1.8rem rgba(0,0,0,20%);;
    border-radius: var(--radius);
}
    
#searchbar-container.expanded{
    transform: translateX(0);
}

#toggle-panel{
    position: fixed;
    top: 5rem;
    left: .5rem;
}

#serchbar-form{
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: .8rem;
    border-radius: 0;
    border: none;
}

.wrapper{
    display: flex;
    margin: 1rem 0;
    justify-content: flex-start;
    width: 100%;
}

.buttons-wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: .8rem;
}

#search-button{
    padding: .5rem .8rem;
    margin: 0;
    border-radius: 0 .5rem .5rem 0;
    border: solid 1px var(--main-color);
}

input[name="atslegvards"]{
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid var(--main-color);
    width: 15.2rem;
    margin: 0;
    background: var(--bg-form);
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + .radio-button{
    border: 1px solid var(--main-color-dark);
    background: var(--main-color);
    color: var(--light);
}

input[type="radio"]:hover + .radio-button{
    background: var(--main-color);
    color: var(--light);
    cursor: pointer;
}

.radio-button{
    width: 16px;
    height: 16px;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: var(--border-dark);
    color: var(--text-dark);
    background: var(--white);
    margin: 0 .2rem;
}

#toggle-panel-minimized{
    display: none;
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 0;
    padding: 1.2rem;
    font-size: 1.2rem;
}
button:hover + .radio-button{
    background: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

/* header */
#headerSimple-vacancies{
    padding: 7rem 0 1.2rem 0 !important;
    display: flex;
    justify-content: center;
}

/* Main section */
#vacancy-container, #suggestions{
    background: var(--bg-vac);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 1.2rem;
    padding: 1.2rem !important;
    align-items: stretch;
}

/* Elements */

#vacancy-container a{
    color: #000;
}

#vacancy-container a:hover{
    transform: translateX(2px) translateY(2px);
    border-radius: var(--radius);
}

.element{
    display: flex;
    background: var(--white);
    border-radius: var(--radius);
    padding: 1.2rem;
    height: 100%;
}

.element .container{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    width: 80%;
}

.logo-container{
    background: #eee;
    max-width: 10rem;
    height: 10rem;
    border-radius: var(--radius);
}

.logo-container i{
    font-size: 5rem;
    padding: 2.5rem 3rem;
    color: #ccc;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    display: flex;
}

.title h2{
    color: var(--main-color);
    font-size: 1.9rem;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container {
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.info-container p{
    padding: 0 1rem 1rem 0;
}

.info-container p, .title p{
    color: #999;
}

.element .description{
    line-height: 1.4rem;
    text-align: justify;
    color: var(--text);
}

.text-notif{
    text-align: center;
    font-size: 1.5rem;
}

/* -----------VAKANCE------------------------------------------------------------------- */
/* Header */
#vacancy-header{
    background: var(--bg-dark);
    height: 10rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    box-shadow: none;
    padding-top: 10rem;
}

#vacancy-header h2{
    color: var(--main-color-dark);
    font-size: 3rem;
}

/* Main section */
#vacancy-section{
    background: var(--bg-vac);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 1.2rem;
    padding: 2rem 9% !important;
}

#vacancy-section .element, .element .wrapper-column, .element .wrapper{
    display: flex;
    flex-direction: column;
}

#vacancy-section h3{
    color: var(--main-color-dark);
    font-weight: normal;
    font-size: 1.6rem;
}

/* Section elements */
#vacancy-section .element{
    padding: 1.7rem;
}

.wrapper-column{
    height: 12rem;
}

#summary ul{
    list-style-type: none;
}

#summary .wrapper{
    flex-direction: row;
    margin: 0;
}

#summary .logo-container{
    min-width: 10rem;
}

ul{
    padding: 0 1.7rem;
    word-wrap: normal;
}

li{
    padding: .3rem 0;
}

#description{
    grid-row: span 2;
}

#description .wrapper{
    margin: 0 0 1rem 0;
}

#description p{
    word-wrap: break-word;
    text-align: justify;
    margin-top: .7rem;
    white-space: pre-wrap;
    padding: 0 1.8rem;
    line-height: 1.5rem;
}

#description ul{
    padding: 0 3rem;
}

#apply-form{
    margin-top: .7rem;
    border: none;
    background: none;
}

#apply-form .wrapper-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

#apply-form input{
    margin: 0;
    width: 100%;
}

#apply-form .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

#apply-form textarea{
    margin-top: .5rem;
    width: 100%;
}

input[type="file"]{
    display: none;
}

.upload{
    color: var(--main-color-dark);
    background: var(--white);
    border: var(--main-color-dark) 1px solid;
    border-radius: var(--radius);
    cursor: pointer;
    padding: .6rem .9rem;
}

.upload:hover{
    color: var(--white);
    background: var(--main-color-dark);
}

#apply-form .wrapper-checkbox{
    display: flex;
    justify-content: flex-start;
}

#apply-form .wrapper-checkbox label{
    margin: 0;
    display: flex;
    align-items: center;
}

#apply-form input[type="checkbox"]{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

#reg-banner p{
    margin: 1rem 0;
}

/* USER APPLICATION HISTORY */
#user-appl-form{
    background: var(--bg-form);
    border: none;
    margin-bottom: 2rem;
    border-radius: 0;
}

#user-appl-form input{
    width: 100%;
    margin: 0;
}

#user-appl-form label{
    margin-top: .6rem;
    color: var(--text-dark);
}

#admin-section #user-appl-form .wrapper{
    display: grid;
    grid-template-columns: 1fr 20fr;
    margin: 0;
    gap: .5rem;
}

#admin-section #user-appl-form .wrapper button{
    width: 100%;
    grid-column: span 2;
}

/* -----------ADMIN------------------------------------------------------------------- */
/* Header */
#admin-header{
    padding: 1rem;
    align-items: center;
}

#admin-header-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#admin-header-content-right{
    display: flex;
}

#admin-header-content-right #modes{
    margin-right: 1.5rem;
}

/* Navigation */
#nav-content{
    position: fixed;
    top: 4.6rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    height: 100%;
    width: 20rem;
    transform: translateX(-20rem);
    z-index: 3;
}

#nav-content.expanded{
    transform: translateX(0);
}

#nav-content .wrapper{
    padding: 1rem 0;
    border-bottom: var(--border);
    margin: 0;
}

#nav-content strong{
    font-size: 1.2rem;
    border-bottom: var(--border);
}

#admin-header-content .toggle-btn{
    display: block;
}

.toggle-btn{
    z-index: 3;
}

#nav-content a{
    font-size: 1rem;
}

#nav-content a, #nav-content strong{
    padding: 1rem;
}

#nav-content a:hover{
    background: var(--bg-vac);
}

/* Homepage */
#admin-section{
    background: var(--bg-vac);
    display: flex;
    flex-direction: column;
    padding: 5.6rem 4rem 1.2rem 4rem !important;
}

#admin-section form{
    padding: 0;
    border: none;
}

#admin-section #user-appl-form{
    padding: 1rem;
}

#admin-section h2{
    text-align: start;
    font-size: 1.6rem;
}

#admin-section .content{
    display: flex;
    flex-direction: row;
    margin: 1.2rem 0;
    gap: 1.5rem;
    padding: 0;
}

.wrapper .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1;
}

#admin-section .wrapper{
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.wrapper .chart-container{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    max-height: 28rem;
    width: 100%;
}

#vacancy-chart{
    background: var(--bg-form);
    padding: 1rem;
}

#table-button{
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
}

#table-button button{
    background: none;
    font-weight: bold;
    color: var(--text);
}

#table-button button:hover{
    cursor: pointer;
    color: var(--main-color);
}

/* elements */
.stat-box{
    background: var(--bg-form);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    padding: 1.2rem;
    width: 100%;
    text-align: center;
}

.stat-box span{
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

/* table */
#admin-section table{
    background: var(--bg-form);
    width: 100%;
}

.table-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: var(--selected);
}

.table-heading form{
    background: none;
    border: none;
    width: auto;
    padding: 0;
}

th, td{
    text-align: center;
    padding: .5rem;
    border-bottom: var(--border);
    font-size: .8rem;
}

th{
    font-size: .9rem;
    background: var(--bg-form);
}

th button{
    cursor: pointer;
    background: none;
}

th button i{
    padding: .7rem;
    color: var(--main-color);
    font-size: 1.2rem;
}

tr:hover{
    background: var(--text) !important;
}

td img{
    width: 100px;
    height: 100px;
    object-fit: cover
}

td {
    background: var(--bg-form);
}

td form{
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    width: 100%;
}

td.descrip{
    max-width: 35rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 1520px){
    td.descrip{
        max-width: 15rem;
    }
}

@media (max-width: 1200px){
    td.descrip{
        max-width: 10rem;
    }
}

table .name{
    width: 13rem;
}

/* -----------ADMIN VACANCY EDIT------------------------------------------------------------------- */
#edit-vacancy-window{
    overflow: scroll;
    max-height: 900px;
}

#vacancy-input-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#vacancy-input-form .content{
    padding: 1rem;
}

#vacancy-input-form .content, #news-input-form .content{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content .container{
    display: grid;
    grid-template-columns: auto auto;
}

.content textarea{
    width: 100%;
}

.image-upload{
    display: block;
    width: 435px;
    height: 435px;
    overflow: hidden;
}
  
#preview-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.row{
    display: flex;
    gap: 2rem;
}

.content input, .content select, .default-popup input, .default-popup select{
    width: 100%;
}

.row label{
    margin-top: .8rem;
}

.row label:first-child{
    margin: 0;
}

#save-button{
    margin-top: 2rem;
    grid-column: 2 / 3;
}

/* -----------ADMIN NEWS EDIT------------------------------------------------------------------- */
#edit-news-window.default-popup, #edit-vacancy-window.default-popup {
    max-width: 110rem;
    width: 95%;
}

#news-input-form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

#news-input-form .content{
    gap: 0;
}

#news-input-form .content div:nth-child(2){
    margin-top: 1.5rem;
}

#news-input-form #save-button{
    width: 10rem;
    margin-top: 1rem;
    
}

#news-input-form #apraksts{
    height: 20rem;

}

/* -----------ADMIN APPLICATION EDIT------------------------------------------------------------------- */
#edit-appl-window.default-popup{
    max-width: none;
}

.default-popup table{
    width: 100%;
}

.value{
    font-size: 1rem;
    font-weight: bold;
    width: 50%
}

#pieteikums-table form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pieteikums-table a{
    font-size: 1rem;
}

#pieteikums-table button{
    width: 8rem;
    height: 2rem;
    padding: .3rem .5rem;
}

#pieteikums-table textarea{
    max-width: 27rem;
    max-height: 16rem;
}

/* -----------LOGIN------------------------------------------------------------------- */
.default-popup{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    z-index: 10;
    min-width: 35rem;
    background: var(--white);
}
  
.default-popup.show{
    transform: translate(-50%,-50%);
    top: 50%;
    bottom: auto;
}

.default-popup .row{
    flex-direction: row;
    justify-content: space-between;
    padding: .2rem .5rem;
}

#login-window{
    max-width: 35rem;
}

#login-window form , #edit-user-window form, #password-reset-window form, #update-password form, #create-user-window form{
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
}

#login-window form:nth-last-child(-n+2){
    display: none;
}

#login-window form .wrapper button{
    width: 100%;
    height: 100%;
}

#login-window form .wrapper button:first-child{
    margin-right: 1rem;
}

#login-window form .wrapper{
    justify-content: space-between;
    height: 5rem;
}

#login-window a, #reg-banner a{
    font-style: italic;
    text-align: right;
    color: var(--text-dark);
}

#login-window a:hover, #reg-banner a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

#login-button, #save-user, #save-password, #register-text, #register-button{
    margin-top: 5rem;
}

#login-window input{
    padding: .7rem .5rem;
}

#login-window p, #password-reset-window p{
    margin-bottom: 1.5rem;
}

#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

/* password reset */
.heading {
    background: var(--main-color);
    height: 20rem;
}

.heading p{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem;
}

#update-password a{
    background: none;
    border: var(--main-color) solid 1px;
    border-radius: var(--radius);
    color: var(--main-color);
    padding: .6rem .9rem;
    font-size: 1rem;
    margin: .5rem 0;
    text-align: center;
    margin-top: 2rem;
}

#update-password a:hover{
    background: var(--main-color);
    border:  #fff solid 1px;
    color: #fff;
}

#password-reset-window form, #update-password{
    max-width: 35rem;
}

#password-reset-window form input{
    margin: 0;
    border-radius: .5rem 0 0 .5rem;
}

#password-reset-window #reset{
    border-radius: 0 .5rem .5rem 0;
}

#update-password{
    display: flex;
    flex-direction: column;
}

/* DELETED */
.deleted {
    position: relative;
}

.deleted::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
}

.deleted td {
    position: relative;
    z-index: 2;
}


/* NOTIFICATIONS ON ERROR/SUCCESS */
.notif{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;
    border-radius: var(--radius);
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
    max-width: 30rem;
    display: flex;
}

.notif i {
    padding-right: 1.2rem;
    font-size: 2rem;
}

.notif.red{
    background: rgb(252, 229, 229);
    border: solid 1px rgb(245, 78, 78);
    color:rgb(245, 78, 78);
}

.notif.red i{
    color:rgb(245, 78, 78);
}

.notif.green{
    background: rgb(218, 252, 220);
    border: solid 1px rgb(56, 173, 56);
    color:rgb(56, 173, 56);
}

.notif.green i{
    color:rgb(56, 173, 56);
}

.notif.yellow{
    background: rgb(253, 237, 219);
    border: solid 1px rgb(227, 133, 25);
    color:rgb(227, 133, 25);
}

.notif.yellow i{
    color:rgb(227, 133, 25);
}

@media(max-width: 1650px){
    /* JAUNUMI */
    #latestNews{
        padding: 1.5rem !important;
    }

    /* VAKANCE */
    #summary .wrapper{
        flex-direction: column;
        align-items: center;
    }

    #summary .logo-container {
        min-width: 12rem;
        width: 12rem;
        height: 12rem;
    }

    #summary ul{
        padding-top: 1rem;
    }
}

@media(max-width: 1320px){
    /* VAKANCES */
    #headerSimple-vacancies{
        text-align: center;
    }
}

@media (max-width: 1300px){
    /* HEADER */
    #navbar{
        display: none;
    }

    #main .toggle-btn, .toggle-btn{
        display: block;
    }

    #navbar.expanded{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 115%;
        right: 2rem;
        background: var(--bg);
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: var(--radius);
        width: 20rem;
        padding: 1.5rem;
        align-items: normal;
    }

    #navbar.expanded #logout, #navbar.expanded #modes{
        text-align: center;
        background: var(--main-color);
        color: #fff;
        border-radius: var(--radius);
        border: 1px solid var(--main-color);
        font-size: 1rem;
    }

    #navbar.expanded #logout:hover, #navbar.expanded #modes:hover{
        background: var(--main-color-dark);
    }

    #navbar.expanded a:last-child:hover{
        background: none;
        color: var(--main-color);
    }
}

@media (max-width: 1125px){
    html{
        font-size: 80%;
    }

    /* VAKANCES */
    .logo-container{
        min-width: 6rem;
        width: 6rem;
        height: 6rem;
    }

    .logo-container i{
        font-size: 3rem;
        padding: 1.5rem 1.8rem;
    }

    #toggle-panel{
        top: 5.8rem;
    }

    #searchbar-container{
        top: 8.8rem;
    }

    /* ADMIN TABLE */
    td .logo-container{
        min-width: 4rem;
    }

    #vacancy-table tr > *:nth-child(8){
        display: none;
    }

    #vacancy-table #apraksts-table, table .name{
        width: auto;
    }
    
    #nav-content{
        top: 5.1rem;
    }

    /* HOMEPAGE */
    #services{
        margin: 0;
    }
}

@media(max-width: 1060px){
    /* JAUNUMI */
    #latestNews{
        flex-direction: column;
    }

    #latestNews ul {
        flex-direction: row;
    }

    #latestNews li {
        margin: 0 .5rem;
    }
}

@media(max-width: 916px){
    /* LOGIN */
    .default-popup{
        width: 90%;
    }

    /* EDIT/ADD VACANCY */
    #vacancy-input-form{
        grid-template-columns: 1fr;
    }

    #save-button{
        grid-column: span 2;

    }
}

@media (max-width: 876px){
    /* HOMEPAGE */
    .left{
        margin: 0;
    }

    #about{
        padding: 3rem 2rem !important;
    }

    /* VAKANCES */
    #headerSimple-vacancies{
        padding: 8rem 1rem 2rem 1rem !important;
    }

    #searchbar-container{
        display: none;
        top: 0;
        width: 100%;
    }

    #searchbar-container.expanded{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        padding: 0;
        justify-content: center;
        height: auto;
    }

    #searchbar-container.expanded form{
        border-radius: 0;
        width: 100%;
        align-items: center;
    }

    #searchbar-container.expanded input,
    #searchbar-container.expanded select{
        width: 100%;
    }

    .buttons-wrapper .wrapper:last-child{
        justify-content: flex-end;
        margin: .4rem;
    }

    .buttons-wrapper{
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
        width: 100%;
    }

    #vacancy-container, #vacancy-section{
        padding: 1.2rem !important;
    }

    #toggle-panel-minimized{
        display: block;
    }

    #toggle-panel{
        display: none;
    }

    .title{
        align-items: flex-start;
        flex-direction: column;
    }

    .title h2{
        text-align: start;
    }

    /* VAKANCE */
    #application{
        grid-column: span 2;
    }

    #reg-banner{
        grid-column: span 2;
    }

    /* ADMIN INDEX */
    #admin-section .wrapper{
        flex-direction: column;
    }

    /* ADMIN TABLE */
    #vacancy-table tr > *:nth-child(n+4):nth-child(-n+7),
    #news-table tr > *:nth-child(n+3):nth-child(-n+3),
    #piet-table tr > *:nth-child(n+2):nth-child(-n+4),
    #piet-table tr > *:nth-child(n+6):nth-child(-n+8),
    #liet-table tr > *:nth-child(n+2):nth-child(-n+4),
    #users-table tr > *:nth-child(3)
    {
        display: none;
    }

    /* FOOTER */
    footer .wrapper:first-child{
        flex-direction: column;
    }

    footer .wrapper .info{
        justify-content: center;
    }

    /* JAUNUMI */
    #latestNews .wrapper{
        flex-direction: column;
    }

    #latestNews .news-image-container{
        width: 100%;
    }

    #latestNews .latestContent .text{
        max-width: none;
    }

    #latestNews .title{
        margin-top: 1rem;
    }

    #latestNews .latestContent{
        align-items: center;
    }

    .read-more {
        width: 100%;
        text-align: center;
        margin: .5rem 0;
    }

    #latestNews .latestContent {
        padding: 0;
    }

    /* JAUNUMS */
    #new{
        padding: 2rem 3% !important;
    }

    #footerNew{
        padding: 0 3% !important;
    }

    #news-hr{
        width: 94%;
    }

    #headerNew{
        padding: 5.6rem 0 0 0 !important;
    }
}

@media (max-width: 700px){
    /* VAKANCES */
    #vacancy-container, #suggestions{
        padding: .7rem 1% !important;
        gap: .7rem;
        display: flex;
        flex-direction: column;
    }

    /* VAKANCE */
    #vacancy-header h2 {
        font-size: 2rem;
    }

    #vacancy-header{
        padding: 1rem 3%;
        padding-top: 11rem;
    }

    #vacancy-section{
        display: flex;
        flex-direction: column;
    }

    #summary .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    #summary ul {
        padding-top: 0;
        padding-right: 0;
    }

    /* FOOTER */
    footer .wrapper-content{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    /* USER APPLICATIONS */
    #user-appl-table th:nth-child(4),
    #user-appl-table td:nth-child(4) {
        display: none;
    }

}

@media (max-width: 590px){
    /* HOMEPAGE */
    h1{
        font-size: 2.5rem;
    }

    #header #search-form {
        flex-direction: column;
    }

    #search-form input[name="atslegvardsIndex"], #search-form select[name="vieta"], #search-form button{
        width: 100%;
        margin-bottom: 1rem;
    }

    .select{
        width: 100%;
    }

    #header{
        padding: 5.6rem 4% 2rem 4% !important;
        margin: auto;
    }

    #statistics{
        padding: 2.5rem 0 !important;
    }

    .stats{
        padding: 2rem 0;
        font-size: 1rem;
    }

    #sevices{
        margin: 0;
    }

    form .box{
        font-size: 1rem;
    }

    #contact-form button{
        font-size: 1rem;
        width: 100%;
    }

    /* VAKANCE */
    #apply-form .wrapper-input, #apply-form .wrapper{
        display: flex;
        flex-direction: column;
    }

    #apply-form .wrapper:first-child{
        flex-direction: row;
    }

    #apply-form label{
        margin-bottom: .7rem;
    }

    /* ADMIN INDEX */
    #admin-section{
        padding: 6rem 1.2rem 1.2rem 1.2rem !important;
    }

    #admin-section h2{
        text-align: center;
    }

    .content{
        flex-wrap: wrap;
    }

    .default-popup.show{
        min-width: 0;
    }

    /* JAUNUMI */
    #latestNews ul {
        display: none;
    }

    #latestNews .news-image-container{
        min-width: 0;
    }
}

@media(max-width: 530px){
    /* USER APPLICATIONS */
    #user-appl-table th:nth-child(3),
    #user-appl-table td:nth-child(3) {
        display: none;
    }
}

@media (max-width: 500px){
    #new img{
        max-height: 20rem;
    }

    /* LOGIN WINDOW */
    .default-popup.show {
        padding: 1.5rem 1rem;
    }

    /* VAKANCE */
    #summary .logo-container {
        min-width: 6rem;
        width: 6rem;
        height: 6rem;
    }

    /* HOMEPAGE */
    .stats{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #users-table tr > *:nth-child(2){
        display: none;
    }

    #users-table tr > *:nth-child(3){
        display: table-cell;
    }
}

@media(max-width: 460px){
    /* LOGIN */
    .default-popup h2{
        font-size: 1.5rem;
    }

    #login-window form .wrapper{
        flex-direction: column;
    }

    #login-window form .wrapper button:first-child{
        margin: 0;
        margin-bottom: .5rem;
    }

    /* EDIT/ADD VACANCY */
    #vacancy-input-form .row{
        display: block;
    }

    .row label:first-child{
        margin-top: .8rem;
    }

    #vacancy-input-form .container{
        display: block;
    }

    #vacancy-input-form .container #list-container{
        margin-bottom: 1rem;
    }

    #vacancy-input-form ul{
        padding: .7rem 0 .7rem 1.7rem;
    }

    #vacancy-input-form button{
        width: 100%;
    }

    /* ADMIN TABLE */
    #vacancy-table tr > *:nth-child(n+3):nth-child(-n+9){
        display: none;
    }

    /* VAKANCES */
    .buttons-wrapper .wrapper:first-child{
        flex-wrap: wrap;
    }

    .buttons-wrapper .wrapper label{
        padding-bottom: 1.7rem;
    }

    .buttons-wrapper button{
        height: 2.4rem;
    }

    #vacancy-section .element:nth-child(3){
        display: none;
    }

    .title h2{
        font-size: 1.5rem;
    }

    /* HOMEPAGE */
    #about{
        padding: 1rem;
    }

    /* VAKANCE */
    #application form{
        padding: 0;
    }

    #vacancy-section .element {
        padding: 1rem;
    }

    td img{
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 390px){
    /* VAKANCES */
    .title {
        flex-direction: column;
        align-items: baseline;
    }

    .buttons-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .buttons-wrapper .wrapper:nth-child(2){
        justify-content: flex-end;
    }

    .buttons-wrapper button{
        width: 100%;
    }

    .buttons-wrapper :last-child{
        grid-column: span 2;
    }

    /* USER APPLICATIONS */
    #user-appl-table th:nth-child(2),
    #user-appl-table td:nth-child(2) {
        display: none;
    }
}